@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
}
/*body{*/
/*    margin: 0 0;*/
/*    background-color: gray;*/
/*}*/
.test{
    height: 50vh;
    background-color: violet;
    border: 2px solid;
    border-color: black;
}
/*----------header-----------------------*/
.header{
    height: 71.2vh;
    background-image: url("images/headerbgr.png");
    background-size: cover;
    background-position: right;
}
.headerMenu{
    margin: 0 20%;
    height: 20%;
    /*background-color: violet;*/
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items:center;
    color: #FF4B32;
    font-family: "Josefin Sans" ,sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}
.homeBtn{
    color: #FF4B32;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    text-decoration: none;
}
.whiteBtn{
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-decoration: none;
    opacity: 60%;
}
.whiteBtn:hover{
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-decoration: none;
    opacity: 100%;
}
.headerText{
    height: 100%;
    width: 35%;
    margin-left: 9%;
    display: flex;
    flex-direction: column;
    scale: 0.95;
    margin-top: -1%;
}
.headerTextH1{
    color: #FFF;
    font-family: "Josefin Sans", sans-serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 3%;
}
.headerTextH3{
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.8;
}
.headerTextBtn{
    margin-top: 3%;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background: #FF4B32;
}
/*----------section1-----------------------*/
.section1{
    height: 200vh;
    background-color: blue;
    border: 2px solid;
    border-color: black;
}
.section1Offer{
    height: 44%;
    background-color: pink;
}
.section1Gallery{
    height: 56%;
    background-color: green;
}
/*----------section2-----------------------*/
.section2{
    height: 63vh;
    background-image: url(images/Section2Bgr.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-items: center;
}
.section2MainDiv{
    height: 100%;
    margin: 0 28%;
    display: block;
    justify-content: center;
    align-items: center;
}
#section2Ico{
    justify-content: space-evenly;
    margin: 4% 12%;
}
div.section2MainDiv>div.phone{
    justify-content: center;
    margin-top: 4%;
}
.section2MainDivH2{
    color: #FFF;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}
.followUs{
    color: #FF4B32;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    justify-content: center;
    margin-top: 8%;
}
/*----------section3-----------------------*/
.section3{
    height: 100vh;
}
.section3TextSpace{
    height: 33%;
}
#section3H2{
    color: black;
    margin-top: 14%;
}
.section3SmallText{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.7;
    text-align: center;
    margin: 2% 28%;
}
.section3CardsSpace{
    height: 67%;
    display: flex;
    justify-content: center;
}
.section3Cards{
    width: 25%;
    height: 80%;
    margin: 0 1.5%;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 40px 15px 136px 0 rgba(0, 0, 0, 0.20);
}
.section3CardsImage1{
    height: 56%;
    border-radius: 20px 20px 0 0;
    background-image:  url(images/Sect3Card1.jpeg);
    background-size: cover;
    background-position: right;
}
.section3CardsImage2{
    height: 56%;
    border-radius: 20px 20px 0 0;
    background-image:  url(images/Sect3Card2.jpeg);
    background-size: cover;
    background-position: right;
}
.section3CardsImage3{
    height: 56%;
    border-radius: 20px 20px 0 0;
    background-image:  url(images/Sect3Card3.jpeg);
    background-size: cover;
    background-position: right;
}
.section3CardsH4{
    color: #000;
    font-family: "Josefin Sans", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin: 2% 6%;
}
.section3CardsP{
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.7;
    margin: 2% 6%;
}
.section3CardsLearnMore{
    text-decoration: none;
    color: #FF4B32;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    margin: 2% 6%;
}
/*----------footer--------------------------*/
.footer{
    height: 39vh;
    background-color: black;
    background-image: url("images/footerBcgIm.png");
    background-size: cover;
}
.infoMenu{

}
.footerInfoMenu{
    height: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footerInfoMenuColum{
    height: 85%;
    width: 20%;
    margin: 2% 5% 0 2.5%;
    /*background-color: red;*/

}
#logoFooter{
    justify-content: left;
}
.phone{
    display: flex;
    justify-content: left;
    align-items: center;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.whiteText{
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin: 0 0 6% 0;
}
.footerInfoMenuColumHeadliner{
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 4% 0 5% 0;
}
.whiteBtnFooter{
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    text-decoration: none;
    opacity: 60%;
}
.whiteBtnFooter:hover{
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    text-decoration: none;
    opacity: 100%;
    }
.footerCopyRight{
    height: 25%;
    color: #FFF;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}
.mediaIco{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mediaIcoForHover{
    opacity: 0.6;
}
.mediaIcoForHover:hover{
    opacity: 1;
}
